services:
  qgis:
    build:
      context: ..
      dockerfile: .docker/Dockerfile
      args:
        QGIS_TEST_VERSION: ${QGIS_TEST_VERSION:-latest}
    tty: true
    volumes:
      - ${GITHUB_WORKSPACE:-.}:/usr/src/AcATaMa
    working_dir: /usr/src/AcATaMa
